<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i>Setting</h1>
	</div>
</div>
<style>
.displayDiv {
	display: none;
}

.displayNoDiv {
	display: inline-block !important;
}
.btn-group{
	background-image: url("images/bac.png");
}
</style>
<body>
	<div ng-app="inventoryApp">
		<div ng-controller="SettingCtrl">

			<div class="row">
				<div class="col-lg-12">
					<div class="btn-group" data-toggle="buttons" id="back">
						<button  class="btn btn-primary btn-lg" type="button" ng-click="showdiv(1)">Company</button>
						<button  class="btn btn-primary btn-lg" type="button" ng-click="showdiv(2)" disabled="disabled">Logo</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(3)" disabled="disabled">Invoice</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(4)" disabled="disabled">TaxRate</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(5)" disabled="disabled">Currencies</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(6)" disabled="disabled">Payments</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(7)" disabled="disabled">Invitation</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(8)">Address</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(9)">Account</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(10)" disabled="disabled">Password</button>
						<button class="btn btn-primary btn-lg" type="button" ng-click="showdiv(11)" disabled="disabled">Alerts</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div>
						<div style="display: none" ng-class="{displayNoDiv:item == 1}">
						<h1>Company</h1><hr/>
						<form name="form.addCompanyprofileForm" ng-submit="submitCompanyProfileForm()" novalidate>
				<div class="col-md-6">
						<div class="col-md-6">
							<label for="exampleSelect1">Name</label>
								<div class="form-group">
									<input type="text" name="name"
									placeholder="Name" class="form-control"
									ng-model="companyDetails.companyName" required>
					        	</div>
						</div>
					
						<div class="col-md-6">
							<label for="exampleSelect1">GST Number</label>
								<div class="form-group">
									<input type="text" name="gstNumber"
									placeholder="gstNumber" class="form-control"
									ng-model="companyDetails.gstNumber" required>
					        	</div>
						</div>
						
						<div class="col-md-6">
							<label for="exampleSelect1">Email</label>
								<div class="form-group">
									<input type="text" name="email"
									placeholder="email" class="form-control"
									ng-model="companyDetails.email" required>
					        	</div>
						</div>
						
						<div class="col-md-6">
							<label for="exampleSelect1">Phone</label>
								<div class="form-group">
									<input type="text" name="phone"
									placeholder="phone" class="form-control"
									ng-model="companyDetails.phone" required>
					        	</div>
						</div>
						
						<div class="col-md-6">
							<label for="exampleSelect1">Web Site</label>
								<div class="form-group">
									<input type="text" name="website"
									placeholder="website" class="form-control"
									ng-model="companyDetails.website" required>
					        	</div>
						</div>
					
						<div class="col-md-12">
							<label for="exampleSelect1">Description</label>
								<div class="form-group">
									<textarea rows="4" style="margin: 0px; height: 102px; width: 448px;" placeholder="Enter Description" ng-model="companyDetails.description">
										
									</textarea>
					        	</div>
						</div>
						<div class="col-md-6">
							<button type="button" class="btn btn-success"
								ng-click="submitCompanyProfileForm()">Save</button>
						</div>
					</div>
				</form>
			</div>
</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 2}">
						<html>
						<head>
							<script th:src="@{/scripts/upload.js}"></script>
						</head>
						<h1>Logo</h1>
							
							<div class="col-md-6">
									
									<label class="control-label">Upload Image</label> <img
										ng-src="{{filepreview}}" class="img-responsive"
										ng-show="filepreview" />
					
									<table>
										<tbody>
											<tr>
												<td><input type="file" ng-file-select="onFileSelect($files)">
													<div ng-repeat="image in images">
														<img ng-src="{{image}}" height="50" width="50" ng-model="m1" />
														<button type="button" class="btn btn-xs btn-danger fa fa-minus"
															ng-click="deleteImages($index)"></button></td>
											</tr>
										</tbody>
									</table>
									
						<div class="col-md-6">
							<button type="submit" class="btn btn-success"
								ng-disabled="form.addInvVendorForm">Save</button>	
						</div>
						</div>
						</html>
							
						
				</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 3}">
							<form name="form.addInvVariantForm" ng-submit="submitInvVariantForm()" enctype="multipart/form-data" novalidate>
							<h1>Invoice</h1>
								
							</form>
							
						</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 4}">
							<h1>TaxRate</h1>
							<div class="col-md-12">
							<label for="exampleSelect1">Tax Rate</label>
								<div class="form-group">
									<input type="text" name="bankAcNo"
									placeholder="bankAcNo" class="form-control"
									ng-model="bankAcNo" required>
					        	</div>
							</div>
							<div class="col-md-6">
								<button type="submit" class="btn btn-success"
									ng-disabled="form.addInvVendorForm.$invalid">Save</button>	
							</div>
						</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 5}">
							<h1>Currencies</h1>
							
						</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 6}">
							<h1>Payments</h1>
							
							<div class="col-md-12">
							<label for="exampleSelect1">New Value</label>
								<div class="form-group">
									<input type="text" name="bankAcNo"
									placeholder="value" class="form-control"
									ng-model="value" required>
					        	</div>
							</div>
							<div class="col-md-6">
								<button type="submit" class="btn btn-success"
									ng-disabled="form.addInvVendorForm.$invalid">Save</button>	
							</div>
						</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 7}">
							<h1>Invitation</h1>
						</div>
						<div style="display: none" ng-class="{displayNoDiv:item == 8}">
							<h1>Address</h1>
<form name="form.addCompanyForm" ng-submit="submitCompanyAddressForm()" novalidate>
	<div class="row">
		<div class="col-md-6">
			<span style="color: black; font-family: Verdana, Arial, helvetica, Geneva, sans-serif; text-align: center;">SHIPPING
				ADDRESS</span><span style="color: red; font-weight: bold;">*</span>
			<div class="form-group has-warning">
				<label for="address1"></label>
				<textarea class="form-control" rows="4" required
					placeholder="Address" id="address1" ng-model="companyDetails.invVendor.address1"
					name="address1"></textarea>
				<span
					ng-show="form.addInvVendorForm.address1.$touch && !form.addInvVendorForm.address1.$invalid"
					class="help-block">Address is required.</span>

			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="city1">City / Town</label><span
					style="color: red; font-weight: bold;">*</span> <input type="text"
					placeholder="City" required="required" class="form-control"
					id="city" ng-model="companyDetails.invVendor.city1" name="city1">
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="pinCode1">Zip / Postal Code</label><span
					style="color: red; font-weight: bold;">*</span> <input
					type="number" placeholder="Pin Code" required="required" ng-minlength="3" ng-maxlength="6"
					class="form-control" id="pinCode" ng-model="companyDetails.invVendor.pincode1"
					name="pinCode1">
			</div>
			<div class="has-warning  col-sm-6">
				<label for="state1">State</label><span
					style="color: red; font-weight: bold;">*</span> <br /> <select
					class="selectpicker form-control" style="font-weight: bold;"
					required="required" name="state1" data-style=""
					ng-model="companyDetails.invVendor.state1">
					<option value="">Select State</option>
					<option value="Tamil Nadu">Tamil Nadu</option>
					<!-- 
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Kerala">Kerala</option>
						<option value="Maharashtra">Maharashtra</option>
						<option value="Punjab">Punjab</option>
						<option value="Telangana">Telangana</option>
						 -->
				</select>
			</div>


			<div class="form-group has-warning col-sm-6">
				<label for="country1">Country</label><span
					style="color: red; font-weight: bold;">*</span> <input type="text"
					placeholder="Country" required="required" class="form-control"
					id="country1" ng-model="companyDetails.invVendor.country1" name="country1">
			</div>


			<div class="form-group has-warning col-sm-6">
				<label for="phoneType">Mobile</label><span
					style="color: red; font-weight: bold;">*</span> <input
					type="number" placeholder="Mobile" required="required" ng-minlength="3" ng-maxlength="10"
					class="form-control" id="mobilePhonNob"
					ng-model="companyDetails.invVendor.mobilePhonNob" name="mobilePhonNob" />
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="office1phonNob">Office 1</label> <input type="number"
					placeholder="Phone Number" class="form-control" id="office1phonNob"
					ng-model="companyDetails.invVendor.office1phonNob" name="phonNo2" />
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="office2phonNob">Office 2</label> <input type="number"
					placeholder="Phone Number" class="form-control" id="office2phonNob"
					ng-model="companyDetails.invVendor.office2phonNob" name="office2phonNob" />
			</div>
		</div>

		<div class="col-md-6">
			<span style="color: black; font-family: Verdana, Arial, helvetica, Geneva, sans-serif; text-align: center;">BILLING
				ADDRESS</span><span style="color: red; font-weight: bold;">*</span>
				<input type="checkbox" ng-model="flag" ng-change="copyAddress()"/><b>Same As Shipping</b>
			<div class="form-group has-warning">
				<label for="address2"></label>
				<textarea class="form-control" rows="4" required
					placeholder="Address" id="address2" ng-model="companyDetails.invVendor.address2"
					name="address2"></textarea>
				<span
					ng-show="form.addInvVendorForm.address2.$touch && !form.addInvVendorForm.address2.$invalid"
					class="help-block">Address is required.</span>
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="city2">City / Town</label><span
					style="color: red; font-weight: bold;">*</span> <input type="text"
					placeholder="City" required="required" class="form-control"
					id="city" ng-model="companyDetails.invVendor.city2" name="city2">
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="pinCode2">Zip / Postal Code</label><span
					style="color: red; font-weight: bold;">*</span> <input
					type="number" placeholder="Pin Code" required="required"
					class="form-control" id="pinCode" ng-model="companyDetails.invVendor.pincode2"
					name="pinCode2">
			</div>

			<div class="has-warning  col-sm-6">
				<label for="state2">State</label><span
					style="color: red; font-weight: bold;">*</span> <br /> <select
					class="selectpicker form-control" style="font-weight: bold;"
					required="required" name="state2" data-style=""
					ng-model="companyDetails.invVendor.state2">
					<option value="">Select State</option>
					<option value="Tamil Nadu">Tamil Nadu</option>
					<!-- 
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Kerala">Kerala</option>
						<option value="Maharashtra">Maharashtra</option>
						<option value="Punjab">Punjab</option>
						<option value="Telangana">Telangana</option>
						 -->
				</select>
			</div>


			<div class="form-group has-warning col-sm-6">
				<label for="country2">Country</label><span
					style="color: red; font-weight: bold;">*</span> <input type="text"
					placeholder="Country" required="required" class="form-control"
					id="country2" ng-model="companyDetails.invVendor.country2" name="country2">
			</div>



			<div class="form-group has-warning col-sm-6">
				<label for="phoneType">Mobile</label><span
					style="color: red; font-weight: bold;">*</span> <input
					type="number" placeholder="Mobile" required="required" ng-minlength="3" ng-maxlength="10"
					class="form-control" id="mobilePhonNos"
					ng-model="companyDetails.invVendor.mobilePhonNos" name="mobilePhonNos" />
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="office1phonNos">Office 1</label> <input type="number"
					placeholder="Phone Number" class="form-control" id="office1phonNos"
					ng-model="companyDetails.invVendor.office1phonNos" name="office1phonNos" />
			</div>

			<div class="form-group has-warning col-sm-6">
				<label for="office2phonNos">Office 2</label> <input type="number"
					placeholder="Phone Number" class="form-control" id="office2phonNos"
					ng-model="companyDetails.invVendor.office2phonNos" name="office2phonNos" />
			</div>

		</div>
							<div class="col-md-6">
							<button type="button" class="btn btn-success"
								ng-click="submitCompanyAddressForm()">Save</button>
						</div>
						</div>
					
</form>	
				</div>		
						<div style="display: none" ng-class="{displayNoDiv:item == 9}">
							<h1>Company Bank Details</h1>
				<form name="form.addCompanyForm" ng-submit="submitCompanyForm()" novalidate>		
							<table class="table">
			<thead>
				<tr>
					<th>Name<span style="color: red;font-weight: bold;">*</span></th>
					<th>Bank Name<span style="color: red;font-weight: bold;">*</span></th>
					<th>Branch Name<span style="color: red;font-weight: bold;">*</span></th>
					<th>Account Number<span style="color: red;font-weight: bold;">*</span></th>
					<th>IFSC Code<span style="color: red;font-weight: bold;">*</span></th>

				</tr>
			</thead>
			<tbody>

				<tr>
				<td>
				<div class="form-group has-warning">
				 <input type="text"
						placeholder="Account Holder Name" required="required"
						class="form-control" id="accountHolderName" ng-model="companyDetails.accountHolderName"
						name="acHolderName">
				</div>
				
				</td>
				<td>
					<div class="form-group has-warning">
						<input type="text"
						placeholder="Bank Name" required="required" class="form-control"
						id="bankName" ng-model="companyDetails.bankName" name="bankName">
					</div>
				
				</td>
				
				<td>
					<div class="form-group has-warning">
					 <input type="text"
							placeholder="Branch name" required="required" class="form-control"
							id="branch" ng-model="companyDetails.branch" name="branch">
					</div>
				
				</td>
				<td>
					<div class="form-group has-warning">
						<input type="text"
							placeholder="Account Number" required="required"
							class="form-control" id="a.accountNo" ng-model="companyDetails.accountNumber"
							name="accountNo">
					</div>
				
				</td>
				<td>
					<div class="form-group has-warning">
						<input type="text"
						placeholder="IFSC Code" required="required" class="form-control"
						id="ifscCode" ng-model="companyDetails.ifscCode" name="ifscCode">
					</div>
				</td>
				
				</tr>
				
			</tbody>
		</table>
							
						<div class="col-md-6">
							<button type="button" class="btn btn-success"
								ng-click="submitCompanyForm()">Save</button>
						</div>
						</form>
						
						<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Bank Name</th>
					<th>Branch Name</th>
					<th>Account Number</th>
					<th>IFSC Code</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="bank in companyBankDetails">
				<td>
					{{bank.accountHolderName}}
				</td>
				<td>
					{{bank.bankName}}
				</td>
				<td>
					{{bank.branch}}
				</td>
				<td>
					{{bank.accountNumber}}
				</td>
				<td>
					{{bank.ifscCode}}
				</td>
				
				<td><button type="button" ng-click="bankDelete(bank)" class="btn btn-xs btn-danger fa fa-trash-o" tooltip="Delete" tooltip-placement="top"></button></td>
				</tr>
				
				
			</tbody>
		</table>
						</div>
						
						
						<div style="display: none" ng-class="{displayNoDiv:item == 10}">
						<h1>Change Password</h1>
						
						<div class="col-md-6">
							<label for="exampleSelect1">Old Password</label>
								<div class="form-group">
									<input type="text" name="Password"
									placeholder="Old Password" class="form-control"
									ng-model="oldpwd" required>
					        	</div>
						</div>
						<div class="col-md-6">
							<label for="exampleSelect1">New Password</label>
								<div class="form-group">
									<input type="text" name="email"
									placeholder="New Password" class="form-control"
									ng-model="newPwd" required>
					        	</div>
						</div>
						
						<div class="col-md-6">
								<button type="submit" class="btn btn-success"
									ng-disabled="form.addInvVendorForm.$invalid">Save</button>	
							</div>
							
						</div>
						
						
						</div>
						
						<div style="display: none" ng-class="{displayNoDiv:item == 11}">
						<h1>Alerts</h1>
						<div class="col-md-6">
								<label for="exampleSelect1">Alert Me When Product Quantity Is Lower than Ten</label>
									<div class="form-group">
										<input type="text" name="email"
										placeholder="email" class="form-control"
										ng-model="email" required>
						        	</div>
							</div>
							<div class="col-md-6">
									<button type="submit" class="btn btn-success"
										ng-disabled="form.addInvVendorForm.$invalid">Save</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>